/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

/* Contenedor principal del chatbot */
.chatbot-container {
  width: 90vw;
  max-width: 900px; /* Ancho máximo en escritorio */
  max-height: 90vh;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 80vh; /* Altura fija para PC */
}

/* Encabezado */
.header-chatbot-container {
  padding: 1rem;
  font-family: sans-serif;
  background-color: #663300;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.chatbot-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
}

/* Chatbox */
.chatbox {
  flex: 1;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  padding: 1rem;
  overflow-y: auto;
  background-color: #f3f4f6;
  margin-bottom: 1rem;
  height: 60vh; /* Altura fija para mensajes en PC */
}

.chatbox-message {
  display: flex;
  margin: 0.5rem 0;
}

.chatbox-message.bot {
  justify-content: flex-start;
}

.chatbox-message.user {
  justify-content: flex-end;
}

.chatbox-bubble {
  padding: 0.75rem;
  border-radius: 1rem;
  max-width: 70%;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chatbox-bubble.bot {
  background-color: #e0e0e0;
  color: #333;
}

.chatbox-bubble.user {
  background-color: #10a30296;
  color: #fff;
}

/* Input de mensaje */
.message-input-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-top: 1px solid #d1d5db;
}

.message-input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px 0 0 8px;
  outline: none;
  color: #333;
}

.message-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.message-send-button {
  padding: 0.5rem 1rem;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.message-send-button:hover {
  background-color: #218838;
}

/* Estilos específicos para pantalla de escritorio */
@media (min-width: 768px) {
  .chatbot-container {
    max-width: 500px;
    height: 80vh; /* Altura fija para escritorio */
  }

  .chatbox {
    height: 60vh; /* Altura fija para el área de mensajes */
  }
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
  .chatbot-container {
    width: 90vw;
    height: 85vh;
    max-height: 85vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }

  .header-chatbot-container {
    flex-shrink: 0;
    padding: 1rem;
  }

  .chatbox {
    height: 65vh; /* Altura fija para mensajes en móviles */
  }

  .message-input-container {
    flex-shrink: 0;
    padding: 1rem;
    border-top: 1px solid #d1d5db;
  }

  .message-input {
    padding: 0.75rem 1rem;
    border-radius: 8px;
  }

  .message-send-button {
    padding: 0.75rem 1rem;
  }
}
